body {
    background-color: #3e1d42;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    border-radius: 30px;
    height: 50px;
    margin-right: 20px;
}

p {
    font-size: 20px;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

